.greenzap:hover{
    color:#0f0 !important;
}

.mobilemenu{
    visibility: hidden !important;
}

.logo img {
    max-width: 60%;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .mobilemenu{
        visibility: visible !important;
    }
    .logo img {
        max-width: 40%;
        height: auto;
    }

}

